h1 {color:red;
    text-align: center;
    
    } 
li {color: blueviolet;
font-family: cursive;}

table {

    text-align:left;
    font-family: cursive;
    border: 3px solid black;
    border-collapse: collapse; /* يخلي الجدول خط واحد بين الخلايا */
    width: 50%; /*increase table width*/
}


th
{     border: 2px solid black;
      background-color:rgb(216, 72, 15);
      padding: 5px;
    
}
td {
    
    border: 2px solid black;
    padding: 5px;
   }
div {
    background-color: blueviolet;
    width: 500px;
    height:400px ;
    margin:30px; /*المسافة من بداية المتصفح */
    padding: 20px;/*بداية الكتابة من الجزء المحدد*/
    border: 3px solid blue;
}