/* comment one line or multiple lines */

/* selected tag{
    property: value
} */

h1{
    color: blue;
}

li{
    color: green;
}

p{
    color: black;
}

h4{
    color: rgba(200, 80, 12, 0.5);
}
/* rgpa يكون مع الشفافية وهذا الفرق بينه وبين rgb */

body{
    background: url(https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-970-80.jpg.webp);
    background-repeat: no-repeat; 
    /* background-color: gray;  */
}

div{
    background-color: blue;
    border-color: red;
    border-width: thick;
    border-style: double;
}

span{
    background: red;
    color: yellow;
}
