/* comment one line or multiple lines */

/* selected tag{
    property: value
} */

h1{
    color: blue;
}

li{
    color: green;
}

p{
    color: rgb(255, 97, 0);
}

h4{
    color: rgba(200, 80, 12, 0.5);
}
/* rgpa يكون مع الشفافية وهذا الفرق بينه وبين rgb */